@import "@app/styles/helpers/mixins";

$bg-color: #0000c8;

.WeatherSkill {
  @include fullScreen;
  background: linear-gradient(0deg, rgba($bg-color, 0.2), rgba($bg-color, 0));

  .background {
    background: linear-gradient(120deg, rgba(50, 150, 100, 0.2), rgba(0, 0, 100, 0));
  }
}